<link rel="stylesheet" href="../../../assets/css/login.css">


<button type="button" class="btn btn-blue" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" [routerLink]="['/teamform',0,'N']">Crear Equipo</button>
<br><br>

<ng-container *ngFor="let te of tequipo | paginate: { itemsPerPage: 4, currentPage: p }">
<p>
<mat-toolbar color="grey" style="height: 100px;">

        <h3>{{ te.teq_nombre.substring(0,50) }}</h3>
     
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <span fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end"> <img src="https://tesoreria.ujed.mx/PIMAGENES/{{ te.teq_ruta_img }}" style="height: 35px;"> </span>
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button [matMenuTriggerFor]="team">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #team="matMenu">
                        <button mat-menu-item [routerLink]="['/teamform',te.teq_id,'U']">
                            <mat-icon>edit</mat-icon>
                            Editar Registro
                        </button>
                        <button mat-menu-item (click)="delete(te.teq_id,te.teq_nombre.substring(0,50))">
                            <mat-icon>delete_forever</mat-icon>
                            Eliminar Registro
                        </button>
                        <button mat-menu-item [routerLink]="['/teamform',te.teq_id,'I']">
                            <mat-icon>image</mat-icon>
                            Subir Imagen
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar>
</p>
    <span class="example-spacer"></span>
</ng-container>

<div style="text-align: center;">
    <pagination-controls 
        (pageChange)="p = $event"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>
