<mat-toolbar class="color-header">
    <div class="div-container">
        <div class="div-left">
            <div class="div-image">
                <img src="assets/images/logo_UJED.png" routerLink="/dashboard" class="image">
            </div>
        </div>
        <div class="div-right">
            <div class="div-name" style="text-align: right;">
                <span class="title-text" style="margin-right: 5px;"> Portal Tesorería </span>
            </div>
            <div class="div-name">
                <span class="responsive-span" style="margin-right: 10px !important;"> {{ this.nombre }} </span>
                <button mat-mini-fab [matMenuTriggerFor]="menu" class="boton-persona">
                    <mat-icon class="icon">person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/settings">
                        <mat-icon>settings</mat-icon>
                        Ajustes
                    </button>
                    <button mat-menu-item (click)="cerrarSesion()">
                        <mat-icon>exit_to_app</mat-icon>
                        Cerrar Sesión
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-toolbar>