<div class="contenedor-general">
    <header class="header">
        <div class="header-container">
            <div class="logo-section">
                <img (click)='portal()' src="assets/images/Logo UJED vertical negro transparencia.png" class="logo">
            </div>
            <div class="header-divider"></div>
            <div class="portal-title-section">
                <h2>PORTAL DE PAGOS</h2>
                <h3>Tesorería UJED</h3>
                <p>Bienvenido(a)</p>
            </div>
        </div>
    </header>

    <main class="main-container">
        <div class="card-wrapper">
            <section class="user-types-section">
                <h3 class="section-title">Usuario nuevo - regístrate</h3>
                <div class="grid-container">
                    <button class="user-card active" routerLink="/registrar">
                        <i class="bi bi-person-fill" style="color: #951823; font-size: 30px !important;"></i>
                        <span>Alumnos</span>
                    </button>
                    
                    <button class="user-card" routerLink="/registrar">
                        <i class="bi bi-person-vcard-fill" style="color: #951823; font-size: 30px !important;"></i>
                        <span>Docentes y Administrativos</span>
                    </button>
                    
                    <button class="user-card" routerLink="/registrar">
                        <i class="bi bi-building-fill" style="color: #951823; font-size: 30px !important;"></i>
                        <span>URES e Incorporadas</span>
                    </button>
                    
                    <button class="user-card" routerLink="/registrar">
                        <i class="bi bi-people-fill" style="color: #951823; font-size: 30px !important;"></i>
                        <span>Público en General y Proveedores</span>
                    </button>
                </div>
            </section>

            <div class="vertical-divider"></div>

            <section class="login-section">
                <h3 class="section-title">Iniciar sesión</h3>
                <div class="login-form">
                    <input type="text" class="form-input" [(ngModel)]="log.user" name="user" placeholder="Usuario" style="margin-bottom: 20px !important;">
                    <input type="password" class="form-input" [(ngModel)]="log.password" name="password" placeholder="Contraseña" style="margin-bottom: 20px !important;">
                    <button type="button" class="btn-submit" (click)='login()'>Ingresar</button>
                    <div class="form-links">
                        <a (click)="openDialog()">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>