<form [formGroup]="form">
    <div mat-dialog-title class="title">
        <div>
            <div class="col">
                <button type="button" class="btn-cerrar" (click)="close()">
                    <i class="bi bi-x"></i>
                </button>
            </div>   
        </div>
        
        <div>
            <h5 >Ingrese sus datos</h5>
        </div>
    </div>
    
    <div mat-dialog-content class="contenido">
        <label class="label">Usuario</label>
        <input 
            type="text" 
            class="form-input" 
            formControlName="usuario" 
            autocomplete="off"
            [ngClass]="{'form-input-invalid': form.get('usuario')?.invalid && form.get('usuario')?.touched}">
    <br>
        <label class="label">Correo</label>
        <input 
            type="email" 
            class="form-input" 
            formControlName="email"  
            autocomplete="off"
            [ngClass]="{'form-input-invalid': form.get('email')?.invalid && form.get('email')?.touched}" 
            style="margin-bottom: 5px !important;">
    
        <input 
            type="email" 
            class="form-input" 
            formControlName="confemail"
            placeholder="Confirma tu correo"
            [ngClass]="{'form-input-invalid': form.get('confemail')?.invalid && form.get('confemail')?.touched}" 
            autocomplete="off"
            onpaste="return false;" 
            onCopy="return false" 
            onCut="return false" 
            onDrag="return false" 
            onDrop="return false">
    </div>
    <div class="div-botones">
        <button type="button" class="btn-submit"  (click)="enviarPass()">Recuperar</button>
        <button type="button" class="btn-cancelar" (click)="close()" id="cerrar">Cancelar</button>
    </div>
</form>