
    <h3>Bienvenido: </h3>
    <h2><strong>{{ this.nombre }}</strong></h2>
    <span fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center" *ngFor="let tu of tusuario">
      <h4>{{ tu.tipo_descrip }}</h4>
      <h4>{{today | date:'fullDate':'':'es-MX'}}</h4>
    </span>

<hr>

<div class="main-container">
  <div class="column left-col">
    <mat-card  appearance="outlined" class="card" routerLink="/posts">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">PAGAR SERVICIOS</mat-card-title>
        <mat-card-subtitle class="card-subtitle" *ngIf="descuentos?.length > 0">Usted tiene {{ this.count }} {{this.count != 1 ? 'descuentos disponibles':'descuento disponible'}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="column right-col">
    <mat-card  appearance="outlined" class="card2" routerLink="/recibos">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">RECIBOS</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>