$font-sans: 'Inter', system-ui, -apple-system, sans-serif;
$font-mono: 'JetBrains Mono', monospace;

$color-bg-app: #F8FAFC;
$color-surface: #FFFFFF;
$color-surface-subtle: #F1F5F9;

$color-text-main: #0F172A;
$color-text-muted: #64748B;
$color-text-light: #94A3B8;

$color-primary: #2563EB;
$color-primary-dark: #1D4ED8;
$color-primary-subtle: #e0eeff;

$color-success: #059669;
$color-success-dark: #047857;

$color-danger: #EF4444;
$color-danger-light: #f09191;
$color-border: #E2E8F0;
$color-border-dark: #334155;

$colores-ujed: #951823;
$colores-ujed-dark: #70121A;

$radius-sm: 0.5rem;
$radius-md: 0.75rem;
$radius-lg: 1rem;
$radius-xl: 1.5rem;

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px !important;
  padding: 10px !important;
}

@media (min-width: 1024px) {
  .main-container {
    flex-direction: row; 
  }

  .column {
    flex: 1; 
  }
}

.card {
  width: 100% !important;
  height: 80px !important;
  background: $color-text-muted !important;
  border: 1px solid $color-border !important;
  border-radius: $radius-lg !important;
  padding: 5px !important;
  box-shadow: $shadow-sm !important;
  cursor: pointer !important;
  align-items: center;
  justify-content: center;

  &:hover{
    background: $color-border-dark !important;
  }
}

.card2 {
  width: 100% !important;
  height: 80px !important;
  background: $colores-ujed !important;
  border: 1px solid $color-border !important;
  border-radius: $radius-lg !important;
  padding: 5px !important;
  box-shadow: $shadow-sm !important;
  cursor: pointer !important;
  align-items: center;
  justify-content: center;

  &:hover{
    background: $colores-ujed-dark !important;
  }
}

.card-header {
  border-bottom: 0 !important;
  padding: 0 !important;
}

.card-title {
  height: 20px !important;
  font-family: $font-sans !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  margin: 0 !important;
  justify-content: center;
  i { color: $color-primary; }
}

.card-subtitle {
  height: 20px !important;
  font-size: 0.75rem !important;
  color: $color-border !important;
  margin-bottom: 0 !important;
  font-weight: 400;
  justify-content: center;
}