<block-ui>
<link rel="stylesheet" href="../../../../assets/css/login.css">

<section class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="signup">
                    <div class="col-md-12">
                        <form class="row" [formGroup]="forma" (ngSubmit)="guardar()">
                            <div class="col-lg-12">
                                <h2>Noticias</h2>
                            </div>
                            <div class="col-lg-12">
                                <input formControlName="tnot_autor" type="hidden">
                                <input formControlName="tnot_estatus" type="hidden">
                                <input formControlName="tnot_ruta_img" type="hidden">
                                <small *ngIf="tituloNovalido" class="text-danger">
                                    Ingrese un Titulo
                                </small>
                                <input style="width: 95%;" type="text" class="form-control" formControlName="tnot_titulo" maxlength="200" placeholder="Titulo" autocomplete="off" [class.is-invalid]="tituloNovalido">
                            </div>
                            <div class="col-lg-12">
                                <small *ngIf="fechaNovalido" class="text-danger">
                                    Ingrese una Fecha
                                </small>
                                <input type="date" class="form-control" formControlName="tnot_fecha" placeholder="Fecha" autocomplete="off" [class.is-invalid]="fechaNovalido">
                            </div>
                            <div class="col-lg-12">
                                <small *ngIf="notaNovalido" class="text-danger">
                                    Ingrese un Texto
                                </small>
                                <div class="form-group">
                                      <angular-editor formControlName="tnot_nota" [config]="config"></angular-editor>
                                      <!--
                                      <div class="html">
                                        {{ htmlContent }}
                                      </div>
                                      -->
                                  </div>
                            </div>
                            <br>
                            <div class="col-sm-6" *ngIf="uploadImage">
                                <button class="btn btn-blue btn-sm" *ngIf="!isHiddenNew" [disabled]="!forma.valid">Crear Noticia</button>
                                <button type="button" class="btn btn-blue btn-sm" *ngIf="!isHiddenUpdate" role="button" (click)='update(id);'>Actualizar Noticia</button>
                                <button type="button" class="btn btn-secondary btn-sm" routerLink="/noticias">Regresar</button>
                            </div>

                            <div *ngIf="!uploadImage">
                                <div style="text-align:-webkit-center; margin-top: 20px;">
                                    <input 
                                    style="display: none;" 
                                    type="file" 
                                    class="custom-file-input" 
                                    (change)="onFileSelected($event)" 
                                    accept="image/jpeg"
                                    #fileInput>
                                    <button class="btn btn-success ml-2" type="button" (click)="fileInput.click()">Buscar Imagen</button> 
                                    <!--
                                    <angular-file-uploader
                                    [config]="afuConfig"
                                    (ApiResponse)="DocUpload($event)">
                                    </angular-file-uploader>
                                    -->
                                    <mat-progress-bar [value]="this.progress"></mat-progress-bar>  
                                    <span id="file-label">{{this.mensaje}}</span>  
                                </div>
                                <br>
                                <button id="uploadButton" class="btn btn-primary" type="button" (click)="onUpload()" [disabled]="ToggleButton">Subir Imagen</button> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-secondary btn-sm" routerLink="/noticias">Regresar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
</block-ui>