/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialogo-responsivo .mat-mdc-dialog-container {
    width: 500px;
}
  
 
@media (max-width: 600px) {
    .dialogo-responsivo .mat-mdc-dialog-container {
        width: 95vw !important;
        max-height: 90vh;
    }
}